body{
  background: #fff8ee;
  margin: 0;
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
a{
  outline: none;
}
.mb-24{
  margin-bottom: 24px !important;
}
button{
  font-family: Arial, Helvetica, sans-serif;
}